<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Bin's Project Login</title>
    <link th:href="@{/css/loginstyle.css}" href="/css/loginstyle.css"
          rel="stylesheet">
</head>
<body>

    <form class="box" method="post" th:action="@{/member/loginProc}">
        <h1>Login</h1>
        <input type="text" name="email" placeholder="email"/>
        <input type="password" name="pwd" placeholder="password"/>
        <input type="submit" value="login"/>
    </form>

</body>
</html>