<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
             xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Bin's Project Main</title>
</head>
<body>
    <h1>메인페이지</h1>
    <div>
        <a sec:authorize="isAnonymous()" th:href="@{/member/member}">로그인/회원가입</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/member/logout}">로그아웃</a>
        <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/member/info}">내 정보</a>
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">관리자</a>
    </div>

</body>
</html>